exportPattern("^[[:alpha:]]+")
importFrom(wavethresh, wd, wr, accessC, accessD, putD, putC, GenW)
importFrom(stats, lm, pf, rnorm, sd, var, cov, aggregate)
importFrom(graphics, abline, lines, par, plot, points)